body {
    background-color: rgb(214, 224, 239);
    font-family: Outfit;
}

.qr_container {
    margin: 30%;
    display: inline-block;
    width: 40%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
}

.qr_image {
    width: 100%;
    border-radius: 15px;
}

.qr_main_text {
    font-weight: 700;
}